<div class="main">
  <div class="main__overlay">
    <div class="main__container">
      <div class="main__logo">
        <a href="http://www.meetup.com/Charleston-Women-In-Tech/" target="_blank"><img src="/assets/wit_text.png"></a>
      </div>
      <div class="main__message">
        <% if current_user %>
          Welcome <%= current_user.name %>!
        <% else %>
          Welcome!
        <% end %>
        <br />
        <br />
        Please explore the site, participate in the early stages of the forum, and check out the <a href="http://www.meetup.com/Charleston-Women-In-Tech/" target="_blank">Women in Tech meetup group</a> for details on more upcoming events. We are working hard to bring you great new features, including many forum improvements, an articles section, and an events calendar. If you have suggestions for new features or see areas that need improvement, just head on over to the feedback section of the forum.
        <br />
        <br />
        For any techettes interested in the Charleston Women in Tech Mentorship program, you can read more about it and sign up to participate <%= link_to "here", mentorship_index_path %>.
        <br />
        <br />
        Thanks for visiting! We hope to see you back often.<br />
        <br />
        - the two techettes building this page
      </div>
    </div>
    <div class="main__footer">
      <a href="mailto:liz.allen.smith@gmail.com?subject=How can I help CHS Women in Tech?" target="_blank">Interested in helping?</a>
    </div>
