<div class="main">
  <div class="main__overlay">
    <div class="main__container">
      <div class="main__logo">
        <!-- <a href="http://www.meetup.com/Charleston-Women-In-Tech/"><img src="/assets/wit_icon.png"></a> -->
        <a href="http://www.meetup.com/Charleston-Women-In-Tech/"><img src="/assets/wit_text.png"></a>
      </div>
      <div class="main__message">
        Welcome!
        <br />
        <br />
        We are working hard to bring you great features, including a community forum and events calendar. Until those shiny new toys are up and running, check out the <a href="http://www.meetup.com/Charleston-Women-In-Tech/">Women in Tech meetup group</a> for details on upcoming events and to connect with other amazing women in tech.
        <br />
        <br />
        Thanks!<br />
        <br />
        - the techette building this page
      </div>
    </div>
    <div class="main__footer">
      <a href="mailto:liz.allen.smith@gmail.com?subject=How can I help CHS Women in Tech?" target="_blank">Interested in helping?</a>
    </div>
  </div>
</div>
