<div class="board__guidelines">
  <div class="board__guidelinesTitle">
    New to the forum? Please read these guidelines first!
  </div>
  <input type="checkbox" id="guidelines_trigger" class="guidelines_trigger" />
  <label for="guidelines_trigger" class='guidelines__trigger1'></label>
  <div class="board__guidelinesContent">
    <p>
      Before posting in the forum, please be considerate of our community guidelines.
    </p>
    <div class="board__guidelinesList">
      <h3>Keep It Civil</h3>
      <ul>
        <li>Debate and disagreements on points of substance are okay, but personal attacks, hate speech, petty bickering, trolling, and thread hijacking are not tolerated. By choosing to be civil, you make the discussion better for everyone involved.</li>
        <li>Act in a give and take manner; help others as often as or more than you ask for help.</li>
        <li>We’re all members of the same community, so please be constructive when providing feedback.</li>
        <li>Watch your sense of humor, as posts will be read by people from a variety of backgrounds and ages.</li>
        <li>Harassing, threatening, or intimidating other users is against our Terms of Use.</li>
      </ul>
    </div>
    <div class="board__guidelinesList">
      <h3>Posting In The Forum</h3>
      <ul>
        <li>Beafore posting a new topic, search the other posts to see if your topic is already covered.</li>
        <li>Use a meaningful title for your thread.</li>
        <li>Please stay on the thread’s topic when replying to an existing thread. If you don’t see an open thread about something you’d like to discuss, please create a new topic.</li>
        <li>Do not use a thread for a private conversations.</li>
        <li>Please use normal English. DON'T USE ALL UPPERCASE FOR YOUR TITLES OR IN THE BODY OF YOUR POST. It comes across as shouting. Also avoid txt msg abbreviations.</li>
      </ul>
    </div>
    <div class="board__guidelinesList">
      <h3>Bad Things</h3>
      <ul>
        <li>The forums are for discussion, not self-promotional link-posting. Avoid posting promotional or irrelevant links.</li>
        <li>No cross-posting. Posting the same message to more than one forum or thread is seen as spamming.</li>
      </ul>
    </div>
    <div class="board__guidelinesList">
      <h3>Good Life Advice</h3>
      <ul>
        <li>Do not post any information that you want private. Posts should not contain personal, identifiable information or content embarrassing to others.</li>
        <li>Do not post content that violates a copyright.</li>
        <li>Don't be a jerk.</li>
      </ul>
    </div>
    <label for="guidelines_trigger" class="guidelines__trigger2">[ collapse guidelines ]</label>
  </div>
</div>
