<div class="article">
  <div class="article__indexHeader">
    <h1>About Us</h1>
  </div>
  <div class="article__index">
    <div class="article__indexTitle">
      <br />Our Mission Statement
      <div class="article__paragraph">
        To connect, support, and prepare women of all ages for careers in technology.
      </div>
    </div>
    <div class="article__indexTitle">
      <br />Our Vision
    </div>
    <div class="article__paragraph">
      Charleston Women in Tech is a collaborative effort of Charleston’s women leaders, educators, and tech professionals to connect, support and prepare women of all ages in the technology industry. Charleston is no exception to the pervasive nation-wide deficit of women seeking, obtaining, and exceling in technology-based careers.  Charleston Women in Tech seeks to achieve increased participation and achievement by women in technology through a focus on three main objectives – <strong>Education</strong>, <strong>Mentorship</strong>, and creating a <strong>Community</strong> for the women in our community.
      By focusing on these key objectives, Charleston Women in Tech ultimately seeks to create a climate that is amenable to women in technology.
      Charleston Women in Tech is a South Carolina Non-Profit Corporation and 501c(3) (filed December 2015 pending IRS designation).  We welcome any contributions that can help us succeed in our mission.  If you are interested in donating your time, resources, or other contributions please contact Carolyn Finch at <a href="mailto:carolyn@chswomenintech.com?subject=I would like to contribute to Charleston Women in Tech" target="_blank">carolyn@chswomenintech.com</a>
    </div>
