.article {
  color: $grey-dark;
  text-align: left;
  @include maxWidth;
}
// ********
// article index classes
// ********
.article__indexHeader {
  height: 100px;
  padding-top: 1rem;
}
.article__indexHeader h1 {
  font-family: $font-puri;
  font-size: 4rem;
  @media all and (max-width: $break-s) {
    font-size: 3rem;
  }
  @media all and (max-width: $break-xs) {
    font-size: 2.5rem;
  }
}
// for all articles
.article__index a {
  color: inherit;
  &:hover {
    color: $blue-light;
  }
}
// for single article
.article__container {
  display: block;
  overflow: hidden;
  background-color: $white;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.article__indexDate {
  @include circle;
  @include size(5rem);
  background-color: $pink-medium;
  color: $grey-extralight;
  display: inline-block;
  font-family: $font-puri;
  font-weight: 100;
  text-align: center;
}
.article__indexDateMo {
  font-size: 1.6rem;
  padding-top: 1rem;
  line-height: 1rem;
}
.article__indexDateDay {
  font-size: 1.5rem;
}
.article__indexTitleDesc {
  display: inline-block;
  height: 14rem;
  padding: 0 1rem;
  vertical-align: top;
  width: 85%;
  @media all and (max-width: $break-s) {
    width: 75%;
    height: 10rem;
  }
  @media all and (max-width: $break-xs) {
    width: 75%;
    height: 12rem;
  }
}
.article__indexTitle {
  font-size: 2rem;
  font-family: $font-puri;
  @media all and (max-width: $break-s) {
    font-size: 1.5rem;
  }
}
.article__indexDesc {
  font-size: 1.5rem;
  font-family: $font-fira;
  height: 5rem;
  // overflow: hidden;
  @media all and (max-width: $break-s) {
    height: 7rem;
  }
  @media all and (max-width: $break-xs) {
    height: 9rem;
  }
}
// ********
// article show classes
// ********
.article__header {
  height: 100px;
  padding-top: 2rem;
}
.article__title {
  font-size: 2rem;
  font-family: $font-jura;
}
.article__date {
  display: inline-block;
  font-size: 1rem;
  font-family: $font-fira;
}
.article__author {
  display: inline-block;
  font-size: 1rem;
  font-family: $font-fira;
}
.article__content {

}
.article__paragraph {
  font-size: 1rem;
  font-family: $font-fira;
  line-height: 1.5rem;
  white-space: pre-line;
}
