// classes used in all board views
.board {
  @include maxWidth;
  padding-bottom: 50px;
  margin-bottom: 0;
  color: $grey-dark;
}
.board__indexHeader {
  margin-bottom: 40px;
  position: relative;
  @media all and (max-width: $break-s) {
    margin-bottom: 20px;
  }
}
.board__indexHeader h1 {
  font-family: $font-puri;
  padding-top: 15px;
  @media all and (min-width: $break-s) {
    margin-left: -15px;
    font-size: 4rem;
  }
  @media all and (max-width: $break-s) {
    font-size: 3rem;
  }
  @media all and (max-width: $break-xs) {
    font-size: 2.5rem;
  }
}
.board__headerLinks {
  display: inline-block;
  position: absolute;
  bottom: -30px;
  right: 0;
  @media all and (max-width: $break-s) {
    display: block;
    position: relative;
    bottom: 0px;
    > a {white-space: nowrap;}
  }
  @media all and (min-width: $break-m) {
    margin-right: -15px;
  }
}

// classes used in the boards index view
.board__index {
  font-size: 0;
  @media all and (max-width: $break-s) {
    bottom: 100px;
  }
}
.board__tileContainer {
  @include size(33.33333333%, 250px);
  display: inline-block;
  @media all and (min-width: $break-m) {
    &:first-child {
      margin: 0 15px 0 -15px;
    }
    &:last-child {
      margin: 0 -15px 0 15px;
    }
  }
  @media all and (max-width: $break-m) and (min-width: $break-s) {
    @include size(50%, 250px);
    &:nth-child(odd) {
      margin: 0 15px 15px -10px;
    }
    &:nth-child(even) {
      margin-right: -10px;
    }
  }
  @media all and (max-width: $break-s) {
    @include size(100%, 250px);
    margin: 0 -10px 15px 0;
  }
}
.board__indexTile {
  @include tile(100%, 250px, 15px);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1rem;
  overflow: hidden;
}
.board__indexTitle {
  font-size: 1.5rem;
  padding-bottom: 15px;
  > a {
    text-decoration: none
  }
}
.board__indexDesc {
  font-size: 1rem;
  padding-bottom: 15px;
}
.board__indexTopicsRecent {
  padding-left: 10px;
}
.board__indexTopic {
  min-height: 50px;
  position: relative;
}
.board__indexTopicTitle {
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  > a {}
}
.board__indexTopicUpdated {
  color: $grey-medium;
  font-size: 0.8rem;
  font-style: italic;
  > a {
    font-style: italic;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}
// classes used in the board guidelines
.board__guidelines {
  margin: 10px -15px;
  position: relative;
  @media all and (max-width: $break-m) and (min-width: $break-s) {
    margin: 0 -10px 15px -10px;
  }
  @media all and (max-width: $break-s) {
    margin: 0 0 15px 0;
  }
}
.guidelines_trigger {
  position: absolute;
  right: 0;
  top: 0;
  clip: rect(0, 0, 0, 0);
}
.guidelines_trigger:checked ~ .board__guidelinesContent {
  max-height: 1500px;
}
.guidelines_trigger + label, .board__guidelinesContent {
  -webkit-transition: max-height 0.8s;
     -moz-transition: max-height 0.8s;
          transition: max-height 0.8s;
}
.guidelines__trigger1 {
  position: absolute;
  top: 0;
  left: 0;
  @include size(100%, 50px);
  z-index: 1;
  cursor: pointer;
}
.guidelines__trigger2 {
  font-size: 0.8rem;
  font-style: italic;
  line-height: 20px;
  text-align: center;
  vertical-align: bottom;
  @include size(100%, 20px);
  cursor: pointer;
  margin: 0 0 5px 15px;
}
.board__guidelinesTitle {
  background-color: $blue-medium;
  color: $white;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.board__guidelinesContent {
  max-height: 0;
  @include tile($w: 100%, $pad: 0px, $bkgclr: $white);
  overflow: hidden;
  color: $grey-dark;
  font-size: 0;
  > p {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    padding: 15px 0 0 15px;
    margin: 0;
  }
}
.board__guidelinesList {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0 30px;
  text-align: justify;
  vertical-align: top;
  width: 50%;
  > ul {
    display: table;
    padding-left: 0;
    > li {
      line-height: 1.5rem;
      display: table-row;
    }
    > li:before {
      content: '\2022';
      padding-right: 5px;
      display: table-cell;
      background-position: left 5px;
      background-repeat: no-repeat;
      background-size: 10px;
    }
  }
  > h4 {
    font-size: 0.9rem;
    margin-left: -15px;
  }
  &:first-child {
    padding-right: 15px;
  }
  &:last-child {
    padding-left: 15px;
  }
  @media all and (max-width: $break-s) {
    width: 100%;
    padding: 0 30px;
  }
}
