$primary-font: Quicksand, Helvetica Neue, Helvetica, Arial, sans-serif;

$break-xs: 400px;
$break-s: 675px;
$break-m: 925px;
$break-l: 1150px;
$break-xl: 1250px;

$blue-light: #196FB1;
$grey-light: #A3B3BE;
$grey-medium: #5E686F;
$grey-dark: #4D4D4D;
$pink-medium: rgb(214,12,138);
