<!-- Sign-in non-member alert -->

<div class="modal fade" id="member-alert" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Join us!</h4>
      </div>
      <div class="modal-body">
        <p>
          You are signed in, but in order to access all the features of the site (and the group), please <a target="_blank" href="http://www.meetup.com/Charleston-Women-In-Tech/join/">join our meetup group.</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a target="_blank"  href="http://www.meetup.com/Charleston-Women-In-Tech/join/"><button type="button" class="btn btn-primary">Join WIT</button></a>
      </div>
    </div>
  </div>
</div>

<!-- Forum non-member alert -->
<div class="modal fade" id="forum-alert" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Join us!</h4>
      </div>
      <div class="modal-body">
        <p>
          You must be a member of Women in Tech to view the forums. Please <a target="_blank" href="http://www.meetup.com/Charleston-Women-In-Tech/join/">join our meetup group.</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a target="_blank"  href="http://www.meetup.com/Charleston-Women-In-Tech/join/"><button type="button" class="btn btn-primary">Join WIT</button></a>
      </div>
    </div>
  </div>
</div>
